{% extends 'base.html.twig' %}
{% block body %}
<div class="container column is-8">
	<section class="section">
		<h2 class="title" id="titles">Voulez vous vraiment supprimer votre compte?</h2>
		<div class="container column is-4">
		 {{ form_start(form, { 'attr': {'action': path('delete')}}) }}
          {{ form_widget(form.delete, { 'attr': {'class': "button is-link"} }) }}
          {{ form_end(form) }}
      </div>
          {{message}}
       <div class="container column is-3">
		<a class="is-centered" href="{{ path('homepage') }}">Retourner a l'Accueil</a> 
	</div>
	</section>
</div>

{% endblock %}