{% extends "base.html.twig" %}
{% block title %}Recherche{% endblock %}
{% block body %}
<div class="container column is-8">
	<section class="section">
		<h1 class="title" id="titles">Résultats de votre recherche</h1>
		 {% for vf in articles %}
		<div class="box has-background-link">
			<h1 class="title" id="titles"><a class="has-text-white-ter" href="{{ path('show_article', { 'id': vf.id }) }}">{{vf.title}}</a></h1>
		</div>
		{% endfor %}{% for vf in molecules %}
		<div class="box has-background-info">
			<h1 class="title" id="titles"><a class="has-text-white-ter" href="{{ path('molecule', { 'key': vf.designation }) }}">{{vf.designation}}</a></h1>
		</div>
		{% endfor %}{% for vf in lineaments %}
		<div class="box has-background-primary">
			<h1 class="title" id="titles"><a class="has-text-white-ter" href="{{ path('lineament', { 'key': vf.designation }) }}">{{vf.designation}}</a></h1>
		</div>
		{% endfor %}
	</section>
</div>

{% endblock %}